# LAB |  Variables & Operators

**Variables are used to store data in a program.**

*Consider the following analogy: you have a water source and you want to collect some water. If you don't have a placeholder (mug, bucket, bottle,...), you will not be able to collect it as the water will drain through your fingers.*


### Naming variables

In Python, variables must have valid names. Here are some rules for naming variables:
   - Variable names can contain letters (a-z, A-Z), digits (0-9), and underscores (_).
   - Variable names cannot start with a digit.
   - Variable names are case-sensitive, meaning myVar and myvar are considered different variables.
   - It's recommended to use descriptive names that reflect the purpose of the variable.
   
   Here are the [rules](https://www.w3schools.com/python/gloss_python_variable_names.asp).

### Assigning Values

To assign a value to a variable, you use the assignment operator (=). Here's an example:

In [ ]:
age = 25

In the above example, we assigned the value 25 to the variable `age`. Now, we can use the variable age to refer to that value throughout the program.

### Variable Reassignment

Variables in Python can be reassigned with new values. You can change the value of a variable simply by assigning a new value to it. For example:

In [50]:
age = 25
age = 30

In the above code, we initially assigned the value 25 to the variable `age`. Then, we reassigned it with the value 30. Now, the variable `age` holds the new value.

### Looking at the value of a variable

In Jupyter Notebook, when you write the name of a variable (`age`for example) in a cell and run the cell, it automatically displays the value of `age` on the screen. This is because Jupyter Notebook, by default, **displays the output of the last line of code in a cell**.

In [51]:
# This is a comment. You can write comments in code cells with #, such as this one.

In [52]:
new_age = 40 # Let`s declare a new variable
new_age # Will show the value of the variable on the screen

40

In [53]:
age # Will show the value of the variable on the screen

30

In [54]:
new_age # Will show the value of the variable on the screen

40

In [55]:
age
new_age # In this case, will show the value of the last line of code on the screen (variable new_age)

40

In Python and in Jupyter Notebook, you can use the `print()` function to display the value of a variable.

In [56]:
new_age=40
print(new_age)

40

The `print()` function is a built-in function in Python that allows us to output information. In this case, we are printing the value of the variable `new_age`.

So, when you run this code, `print(new_age)`it will display 40 as the output. The value 40 is stored in the variable new_age, and the `print()` function helps us see that value on the screen.

Both methods achieve the same result of showing the value of new_age on the screen.

The advantage of using `print()` is that you can display multiple values or combine them with other text or variables. However, when you want to quickly check the value of a variable or see the result of a single expression, writing the variable name or expression in a cell without using print() is a convenient and concise way to display the output. We will look at this later on the course.

### Variable Types

Variables in Python can hold different types of data.

*Python is a dynamically-typed language, meaning you don't need to explicitly specify the variable type. The type of a variable is determined based on the value assigned to it.*

In [57]:
x = 10
y = 20.5
z = 'hello'

In [58]:
print(x)

10

In the code x = 10, we are assigning a value to a variable. We are creating a variable called x and assigning it the value 10.

To display the value of x, we use the `print()` function. When you run this code, `print(x)` will display 10 as the output. The value 10 is stored in the variable x, and the `print()` function helps us see that value on the screen.

In [59]:
print(y)

20.5

In [60]:
print(z)

hello

#### Observation

In programming, a function is like a pre-written instruction that performs a specific task. It's like a special command that you can use in your code. These functions are either created by other programmers or provided by the programming language itself.

The print() function is one such built-in function in Python. It is ready to use without requiring any additional setup. This function allows us to display information on the screen.

In Python, functions are names followed by opening and closing parentheses.

*(FYI so are methods. We won't go into detail about methods in this lesson, but we will cover them  during the bootcamp.)*

## Data Types

In Python, data has different types that define the kind of information it represents. Understanding data types is essential for performing operations and manipulating data. Let's explore the common data types in Python:

- **Integer**: represents whole numbers, i.e. positive or negative integer values. _(eg. 10, 3, -5, 0)_
- **Float**: represents decimal numbers. _(eg. 20.2, 100.2403, -5.50)_
- **String**: represents text _(e.g., "Hello, World!", "Python")_. A string is considered a group of characters. It can be encapsulated in a single quote or double quotes _(eg. "hello", "Ironhack", "Teacher")_
- **Boolean**: represents either True or False

It's important to understand the data type of a variable because it determines how the variable behaves and what operations can be performed on it.

To check our data types we will use the function `type()`. *This is a function, such as  print(), but performs a different task.*

### Integer

In [6]:
x = 10
print(x)

10

In [7]:
type(x)

int

As you can see from the example above, `print` and `type` are followed by `()` and they are functions. They take an argument (x) and the return another value. `type` for example returns the type of the argument (x).

### Float

In [8]:
y = 20.5
print(y)
type(y)

20.5

float

### String
String can  be encapsulated in single quotes or double quotes.

In [9]:
z = "hello"
print(z)
type(z)

hello

str

In [61]:
x = 'hello there'
print(x)
type(x)

hello there

str

**Note:** As demonstrated in the examples above, strings can be defined using either double `" "` or single quotes `' '`. You may be wondering about the appropriate usage of double quotes versus single quotes. In general, the choice depends on the content of your string. If your string includes single quotes, such as in the case of *I couldn't make it*, then it is necessary to use double quotes. However, if your string does not contain single quotes, you can confidently use single quotes.

**Note:** In the previous examples, the strings were of small length, consisting of a single line. However, what if we need to define a string that spans multiple lines? In such cases, we employ three single or double quotes to delimit the string.

In [62]:
# Multiple line string
x = '''Float - stores decimal numbers. By default, Python interprets any number that includes a decimal point as a double precision floating point number. Like some other programming languages, in Python there is not much difference between float and double except that float is in-built in Python, while double is imported from a library called NumPy.
We will talk about the libraries in detail later.
Hello
There!'''
print(x)
type(x)

Float - stores decimal numbers. By default, Python interprets any number that includes a decimal point as a double precision floating point number. Like some other programming languages, in Python there is not much difference between float and double except that float is in-built in Python, while double is imported from a library called NumPy.
We will talk about the libraries in detail later.
Hello
There!

str

### Boolean

In [63]:
x = True # This is highlighted in green because it is a keyword
print(x)
type(x)

True

bool

In [64]:
x = False
print(x)
type(x)

False

bool

In [65]:
x = "True" # In this case it is a string because we encapsulated it in double quotes
print(x)
type(x)

True

str

#### Observation

In Python, Boolean values (True and False) are actually treated as a subclass of integers. This means that `True` is equivalent to the integer value 1, and `False` is equivalent to the integer value 0.

This means that you can perform numeric operations on Boolean values, and they will be implicitly converted to their corresponding integer values.

In [66]:
bool_true = True
bool_false = False

print(bool_true + 1)    # Output: 2 (True + 1 = 1 + 1 = 2)
print(bool_false + 1)   # Output: 1 (False + 1 = 0 + 1 = 1)

2
1

Understanding that Boolean values (True and False) are equivalent to 1 and 0 in certain operations can be useful when performing calculations or conditional checks in your code, as we will study during the bootcamp.

## Operators

Operators are special symbols or keywords used to perform operations on data. They allow us to manipulate values and perform calculations.

There are various types of operators, including arithmetic, assignment, comparison, logical, and bitwise operators.
We will look at some of the more common operators that we use in Python.

In [67]:
# We will define two integer variables here and use operators on them
x = 10
y = 5

In [68]:
# We will define two string variables here and use operators on them
name = "Peter"
surname = "Gates"

### Arithmetic Operators

Arithmetic operators are used to perform mathematical calculations on numeric data types.

Here on the left hand side we have the operator and on the right we can see how they can be used with variables
- `+` - Addition (x + y): The addition operator is used to add two or more numbers together.
- `-`	- Subtraction (x - y): The subtraction operator is used to subtract one number from another.
- `*`	- Multiplication (x * y): The multiplication operator is used to multiply two or more numbers.
- `/` - Division (x / y): The division operator is used to divide one number by another. It returns a floating-point result.
- `//` - Integer division (x // y): The integer division operator divides one number by another and returns the integer quotient, discarding any decimal places.
- `%` - Modulus or modulo (x % y): The modulus or modulo operator returns the remainder of the division between two numbers.
- `**` - Exponentiation (x ** y): The exponentiation operator raises a number to the power of another number.

In [69]:
# You can try and test these operators as shown below

In [70]:
x+y

15

In [71]:
x-y

5

In [72]:
x*y

50

In [73]:
x/y

2.0

In [74]:
x%y # Gives the remainder

0

In [75]:
x**y # 'y' times multiplication of 'x'

100000

In [76]:
x // y # Rounds off the result to the lower integer value on the number line

2

In addition to working with numerical values, some arithmetic operators can also be used with strings in Python. Let's explore how these operators behave when applied to strings:

Addition (+): The addition operator is used to concatenate or join two or more strings together.

In [77]:
name + surname

'PeterGates'

Multiplication (*): The multiplication operator can be used to repeat a string a certain number of times.

In [78]:
name * 3

'PeterPeterPeter'

These two arithmetic operators can also be used with other data structures that we will see in the following lessons, such as lists.

Please note that the subtraction (-), division (/), integer division (//), modulo (%), and exponentiation (**) operators are not defined for strings, lists or other data structures in Python.

What means to substract one word from another one? Or to divide?

### Assignment Operators

Assignment operators are used to assign values to variables. They allow you to store and update data in variables.

We have already seen it before when we talked about 'Variables' and 'Data Types'.

In Python, there are several assignment operators available:

`= (Equals)` - The equals sign assigns the value on the right-hand side to the variable on the left-hand side.

In [ ]:
x = 10
print(x)

`+= (Add and Assign)` - The plus-equals operator adds the value on the right-hand side to the variable's current value and assigns the result back to the variable.

x += 3  is equivalent to x = x + 3

In [ ]:
x = 10
x+=3
print(x)

`-= (Subtract and Assign)` - The minus-equals operator subtracts the value on the right-hand side from the variable's current value and assigns the result back to the variable.

In [ ]:
x = 10
x-=3
print(x)

`*= (Multiply and Assign)` - The multiply-equals operator multiplies the variable's current value by the value on the right-hand side and assigns the result back to the variable.

In [ ]:
x = 10
x*=3
print(x)

`/= (Divide and Assign)` - The divide-equals operator divides the variable's current value by the value on the right-hand side and assigns the result back to the variable.

In [ ]:
x = 10
x/=3
print(x)

And so on with modulus, floor divison, and exponentiation.

These assignment operators can be combined with various arithmetic and logical operations to perform calculations and update variable values in a concise manner.

Remember that assignment operators are used to update the value of a variable, so the variable on the left-hand side should already exist before using an assignment operator on it.

### Comparison Operators

Comparison operators are used to compare values and determine the relationship between them. They return either `True` or `False` based on the comparison result. Returns `True` if the condition is met, otherwise returns a `False`.

In Python, there are several comparison operators available:

==  Equal   x == y
!=  Not equal  x != y
>   Greater than  x > y
<   Less than  x < y
>=  Greater than or equal to  x >= y
<=  Less than or equal to  x <= y

In [ ]:
x = 10  # Initialize variable `x` with a value 10
y = 5   # Initialize variable `y` with a value 5

`== (Equal to)` - The double equals operator compares if two values are equal.

In [ ]:
x == y

`!= (Not equal to)` - The exclamation mark followed by equals compares if two values are not equal.

In [41]:
x != y

True

`< (Less than)` - The less than operator compares if the value on the left is less than the value on the right.

In [ ]:
x > y

`> (Greater than)` - The greater than operator compares if the value on the left is greater than the value on the right.

In [ ]:
x >= y

`<= (Less than or equal to)` - The less than or equal to operator compares if the value on the left is less than or equal to the value on the right.

In [3]:
x<y

True

`>= (Greater than or equal to)` - The greater than or equal to operator compares if the value on the left is greater than or equal to the value on the right.

In [ ]:
x <= y

These comparison operators allow you to compare numbers, strings, and other data types in Python. They are commonly used in conditional statements and loops to make decisions based on the comparison results.

It's important to note that the comparison operators always return a Boolean value, either True or False, depending on the outcome of the comparison.

### Logical Operators

Logical operators are used to combine and manipulate logical values (True or False). They allow you to perform logical operations on conditions and make decisions based on the results. In Python, there are three logical operators available:

In [1]:
x = 10 # First we will initialize variable `x` with a value 10.
y = 15 # We will initialize variable `y` with a value 15.

**and**: The and operator returns True if both of the conditions on either side of it are True. Otherwise, it returns False.

In [2]:
x < 5 and y < 10 # Returns False since both conditions are False

False

In [ ]:
x > 5 and y < 20 # Returns True since both conditions are True

In [ ]:
x < 5 and y < 20 # Returns False since one of the conditions is False, even the other one is True

**or**: The or operator returns True if at least one of the conditions on either side of it is True. If both conditions are False, it returns False.

In [ ]:
x < 5 or y < 10 # Returns False since both conditions are False

In [ ]:
x > 5 or y < 20 # Returns True since both conditions are True

In [ ]:
x < 5 or y < 20 # Returns True since one of the conditions is True, even one is False

**not**: The not operator is a unary operator that negates the logical value of a condition. It returns True if the condition is False and False if the condition is True.

In [ ]:
not(x < 5 or y < 20) # x < 5 or y < 20 is True, so applying not we get False

In [ ]:
not(x < 5 or y < 10) # x < 5 or y < 10 is False, so applying not we get True

## Data Type Compatibility

While some operations are supported across different data types, it's important to recognize that not all data types can be used together in the same way. Performing certain operations with incompatible data types can result in errors.

For example, what is 1 plus "hello"?

In [ ]:
1+"hello"

We get an error because the computer doesn't know how to sum a number plus a string (neither do we).

As a general rule of thumb, if we can't perform certain operations in our minds, the computer won't be able to do them either.

Computers are designed to follow strict rules and execute operations precisely. When we attempt to combine incompatible data types, like adding a number to a string, the computer recognizes this mismatch and throws an error. It's important to remember that computers can only perform operations that are explicitly defined for each data type.

## Data Type Casting

In Python, data type casting, also known as type conversion, allows you to change the data type of a value from one type to another. This can be useful when you want to perform operations or manipulate data that requires specific data types.

`int()` function: To convert a value to an integer, you can use the `int()` function.

In [ ]:
num_float = 3.14 # This is a float
num_int = int(num_float)
print(num_int)  # Output: 3
print(type(num_int)) # Output: int

In [ ]:
num_str = "42" # This is a String
num_int = int(num_str)
print(num_int)  # Output: 42
print(type(num_int)) # Output: int


`float()` function: To convert a value to a float, you can use the `float()` function.

In [ ]:
num_int = 5 # This is a integer
num_float = float(num_int)
print(num_float)  # Output: 5.0
type(num_float) # Output: float

In [ ]:
num_str = "3.14" # This is a string
num_float = float(num_str)
print(num_float)  # Output: 3.14
type(num_float) # Output: float

`str()` function: To convert a value to a string, you can use the str() function.

In [ ]:
num_int = 42 # This is a integer
num_str = str(num_int)
print(num_str)  # Output: "42"
type(num_str) # Output: str

In [ ]:
num_bool = True # This is a boolean
num_str = str(num_bool)
print(num_str)  # Output: "True"
type(num_str) # Output: str

`bool()` function: To convert a value to a boolean, you can use the `bool()` function.

In [ ]:
num_int = 0 # This is a integer
num_bool = bool(num_int)
print(num_bool)  # Output: False
type(num_bool) # Output: bool

Remember that not all types can be converted to each other. Some conversions may result in data loss or unexpected behavior, so it's important to understand the limitations and implications of type casting.

## More Resources

https://www.programiz.com/python-programming/operators

https://www.tutorialspoint.com/python/python_basic_operators.htm

## Exercises

### 1. Excercise - Data Types

**1.1** For the given variables, use the `type()` function in Python to check their data types:

In [21]:
x1 = 1.1

x2 = "Ironhack"

x3 = "1.1"

x4 = True

x5 = "True"

x6 = -1

In [26]:
type(x6)

int

In [25]:
type(x5)

str

In [24]:
type(x4)

bool

In [23]:
type(x3)

str

In [22]:
type(x2)

str

In [20]:
type(x1)

float

**2. What is the difference between the variables `x1` and `x3`?**

x1 is a decimal number and x3 is a string.

**3.Substract `x3` from `x1`. Explain what happens.**

In [27]:
# Substract x3 from x1. Explain what happens.
# We get an error because the computer doesn't know how to sum a number plus a string (neither do we).
print(float(x3) - x1)

TypeError: unsupported operand type(s) for -: 'str' and 'float'

**4. What is the difference between the variables `x4` and `x5`?**

x4 is a boolean which can only have 2 states TRUE or FALSE.

x5 is a string which contains the text "TRUE" but it doesn't have the state TRUE like the boolean.

**5.Substract `x4` from `x5`. Explain what happens.**

In [29]:
x4-x5
#x4 is a boolean and x5 a string.
#It is not possible to substract them

TypeError: unsupported operand type(s) for -: 'bool' and 'str'

**2.1** In this problem, we will demonstrate how to take user input. To gather input from the user, we can use the `input(message)` function, where *message* is a message of type *string* that will be displayed to the user.

```py
x1 = input("Please enter an integer number: ")
x2 = input("Please enter another integer number: ")
```

**Observation:** When you run two or more lines of code in the same cell, or in different cells, in Jupyter Notebook, it will be executed one at a time, in sequence.
In this exercise, each of the `input()` functions will create a cell box where you can enter a value and press Enter to confirm. You can identify these input cells because they have a star symbol on the left side as shown [here](https://education-team-2020.s3.eu-west-1.amazonaws.com/data-analytics/prework/unit1/input_function.png), indicating that the computer is waiting for your input (or executing code).
After you enter a value, the star symbol will disappear, and the next `input()` function will be executed, displaying a new cell box with a star symbol for the next input. It's important to note that **while an input cell has a star symbol, it will prevent you from running other cells** (if you have the default  settings on your Jupyter Notebook environment).

**_Question 1_**:

Use the code provided above and ask the user to input two numbers. Then, print the values of the two variables. What is the type of `x1` and `x2`? Don't just answer by looking at it's value, use the function `type()` to do so.

In [37]:
x1 = input("Please enter a number:  ")
x2 = input("Please enter a second number:  ")
print(type(x1), type(x2))

Please enter a number:  5.5
Please enter a second number:  6
<class 'str'> <class 'str'>

Even though we entered *integers*, the `input()` function converts them into *strings* **by default** (it's the way the function `input()` is defined). Now we will perform data type conversion from *string* to *integer*. Use the `int()` function to do so. Print again the values after performing data type conversion and the corresponding type.

In [38]:
x1 = int(input("Please enter a number:  "))
x2 = int(input("Please enter a second number:  "))
print(type(x1), type(x2))

Please enter a number:  5
Please enter a second number:  6
<class 'int'> <class 'int'>

**_Question 2_**:

Perform the following simple comparisons, using operators:

- Check if the two variables are equal.
- Check if `x1` is greater than `x2`.
- Check if `x2` is greater than `x1`.
- Check if `x1` is not equal to `x2`.

Store the difference between `x1` and `x2` in another variable `x3` (subtract the smaller number from the larger number).

Increment the smaller of the two variables (`x1` and `x2`) with the difference. Use the shorthand addition operator for the same. Again check if `x1` and `x2` are equal or not.

In [39]:
x1>x2

False

In [40]:
x2>x1

True

In [42]:
x1 != x2

True

In [43]:
x1==x2

False

In [44]:
x3 = x1-x2
print(x3)

-1

In [46]:
x1 += x3
print(x1)

3

### 3. Exercise - Concatenation

Write a program that asks the user to enter their first name and last name as separate strings. Concatenate the two strings and display a greeting message, such as "Hello, John Doe!".

In [49]:
first_name = input("Please enter your first name:  ")
last_name = input("Please enter your last name:  ")
print("Hello, " + first_name + " " + last_name + "!")

Please enter your first name:  Aldous
Please enter your last name:  Huxley
Hello, Aldous  Huxley!

## Additional Content

In [ ]:
x = 10
y = 5

### Identity Operator

Identity operators are used to compare the identity of two objects in Python. They determine whether two variables or values refer to the same object in memory.

Understanding Object Identity:

In Python, objects are stored in memory, and variables hold references (or pointers) to those objects. When we use identity operators, we are comparing the memory addresses of the objects to check if they are the same.

**is**: The is operator checks if two variables refer to the same object.

Returns `True` if both variables are the same object.
The `x` is the `y`. Otherwise returns False.

In [ ]:
x is y

**is not**: The is not operator checks if two variables do not refer to the same object.

Returns `True` if both variables are not the same object.
`x` is not `y`.

In [ ]:
x is not y

The is operator checks if two variables refer to the same object.

The is not operator checks if two variables do not refer to the same object.

### Membership Operator

Membership operators are used to test the membership of a value in a sequence (such as a string, list, tuple, or set) in Python. They determine whether a value is present or not in the given sequence.

In [ ]:
a = 'I'
b = 'Ironhack'

**in**: The in operator checks if a value exists in a sequence.

Returns `True` if a sequence with the specified value is present in the object.
`x` in `y`.

In [ ]:
a in b

**not in**: The not in operator checks if a value does not exist in a sequence.

Returns `True` if a sequence with the specified value is not present in the object.
`x` not in `y`.

In [ ]:
a not in b

Membership operators perform membership testing by checking if a value matches any element in the given sequence. They return a boolean value (True or False) based on the test result.